body{
    margin: 0px;
    width: 100%;
}

.Btn{
    width: 200px;
    height: 35px;
    

    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: #fff;
    position: relative;
    margin: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item{
    width: 16%;
    margin-bottom: 3rem;
    border-right: 5px;
    margin: 10px;
}
.card{
    border: 1px solid;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}