@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(110,45,58,1) 100%);
}
.back{
    height: 100vh;
    width: 100%;
}
.general_navbar{
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 2px;
    display: flex;
    width: 25%;
    left: -22%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-shadow: 10px 0px 25px rgba(255, 255, 255, 0.616);
    position: fixed;
}
.content_buttons{
    display: flex;
    position: relative;
    flex-direction: column;
}
.content_buttons button{
    width: 150px;
    height: 30px;
    margin: 15px;
    border: none;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}
/* open */

.openClose{
    position: absolute;
    text-decoration: none;
    left: 95%;
    top: 45%;
}
.general_navbar a{
    text-decoration: none;
}
.general_navbar a i{
    font-size: 37px;
    color: rgba(255, 255, 255, 0.658);
}
.general_navbar.active{
    position: fixed;
    left: 0%;
    transition: 2s;
}

/* cards  one*/

.card_item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 300px;
    justify-content: center;
}
.card{
    background-color: rgba(0, 0, 0, 0.274);
    margin: 19px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(208, 82, 224);
}
.card-header h1{
    font-size: 20px;
    margin: 5px;
}
.card-body p{
    font-size: 13px;
    line-height: 2;
    font-weight: 300;
    padding: 10px;
}

/* card two */

.card-second{
    background-color: rgba(75, 180, 80, 0.274);
    margin: 19px;
    width: 270px;
       display: flex;
       flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(82, 224, 94);
}
.card-header-second h1{
    font-size: 20px;
    margin: 5px;
}
.card-body-second p{
    font-size: 13px;
    line-height: 2;
    font-weight: 300;
    padding: 10px;
}

/* card three */

.card-three{
    background-color: rgba(141, 75, 100, 0.274);
    margin: 19px;
    width: 200px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(228, 102, 98);
}
.card-body-three p{
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    padding: 5px;
}

/* card for */

.card-for{
    background-color: rgba(78, 90, 105, 0.274);
    margin: 19px;
    width: 200px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.card-body-for p{
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    padding: 5px;
}

/* card five */

.card-five{
    background-color: rgba(241, 226, 11, 0.137);
    margin: 19px;
    width: 200px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(248, 232, 91);
}
.card-body-five p{
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    padding: 5px;
}

/* card six */

.card-six{
    background-color: rgba(31, 238, 169, 0.11);
    margin: 19px;
    width: 200px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(84, 204, 235);
}
.card-body-six p{
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    padding: 5px;
}